@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


/* common */
.clear:after{clear: both; display: block; content: '';}
.blind{position: absolute; width: 1px; height: 1px; overflow: hidden; margin: -1px; clip: rect(0,0,0,0);}
.swiper-container{height: 100%;}

body{font-family: 'Poppins', 'Noto Sans KR', sans-serif;}
body.hidden{overflow: hidden;}