@media screen and (max-width: 1500px) {
 /* 메인 */
 .best .best_wrapper{width: 100%;padding: 0 50px;}
 .new .new_wrapper{width: 100%;padding: 0 50px;}
 .event .event_wrapper{width: 100%;padding: 0 30px;}

 /* footer */
 .footer .footer_nav_wrap{width: 100%;padding: 0 50px;}
 .footer .footer_nav .sns_nav{right: 50px;}
 .footer .footer_ect{width: 100%;padding: 0 50px;}
 .footer .footer_info{width: calc(100% - 520px);}
}


@media screen and (max-width: 1380px) {
  /* 메인 */
  .main_visual .main_banner .swiper-slide .inner{width: 100%; left: 0;transform: translate(0, -50%); padding: 0 50px;}
  .mv_wrapper .main-swiper-pagination{width: 100%; left: 0; transform: translate(0, -50%); padding: 0 50px;}
  .main_visual .main_search{width: 100%; padding: 150px 50px;}

  /* md */
  .md .md_wrapper{width: 100%; padding: 0 50px;}
  .md .business_wrap{height: auto;}
  .md .business_wrap .inner{width: 100%; height: 100%; position: absolute;top: 0;left: 0;}
  .md .business_wrap >div.slide01{background: red; padding-bottom: 50%; height: auto;width: 40vw; position: relative;}
  .md .business_wrap >div.slide02{width: 35vw; left: calc(40vw + 30px);padding-bottom: 50%; height: auto;}
  .md .business_wrap >div.slide03{width: 35vw; left: calc(75vw + 60px);padding-bottom: 50%; height: auto;}
  .md .md_wrapper> .text_wrap{text-align: left; width: auto;}
  .md .business_wrap > .btn_wrap{bottom: 0; left: calc(40vw + 30px);}

}


@media screen and (max-width: 1280px) {
  /* 헤더 */
  .header .gnb .right_gnb li:nth-child(-n+3){display: none;}
  .header .hidden_gnb .hidden_right{display: inline-block;}

  /* release */
  .release .release_slide .swiper-slide .slide_box .detail{padding: 50px;}
  .release_slide .swiper_nav{left: auto; right: 50px;transform: translate(0 , -50%); width:calc(50% - 100px);}

}

@media screen and (max-width: 1024px) {
  /* 헤더 */
  .header .gnb .gnb_list{display: none;}

  /* 메인 */
 .main_visual .main_banner .swiper-slide .inner strong{margin-bottom: 50px; font-size: 70px;}
 .main_visual .main_search input{width: 600px;}
 
  /* 베스트 */
  .best .contents .swiper-slide .item_box{margin: 0; width: 100%;float: none; margin-bottom: 10px; height: calc((100% - 20px)/3);}
  .best .contents .swiper-slide .item_box::after{content: ''; clear: both; display: block;}
  .best .contents .swiper-slide .item_box .item{height: 100%; float: left; width: calc(50% - 5px);}
  .best .contents .swiper-slide .item_box.middle{width: 100%; }
  .best .contents .swiper-slide .item_box.middle .item{float: none;width: 100%; padding: 0;}
  .best .contents .swiper-slide .item_box.middle .item img{}
  .best .contents .swiper-slide .item_box .item:last-child{float: right;}
  .best .contents .swiper-slide .item_box.right_gnb{margin-bottom: 0;}
  .best .contents .item_box .item .img_wrap{width: 150px;}
  .best .contents .item_box.middle .txt_wrap a{position: absolute; bottom: 30px; right: 50px;}

  /* 뉴스 */
  .new .new_boxes .new_box {width: calc((100% - 20px)/3);}
  .new .new_boxes .new_box:nth-child(2){margin: 0 10px;}
  .new .new_boxes .new_box .new_desc p{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
  .new .new_boxes .new_box .new_desc a{margin-top: 20px;}

  /* release */
  .release{padding: 0 0 50px 0;}
  .release .release_slide .swiper-slide .slide_box .bg{width: 100%; height: auto; padding-bottom: 50%; position: relative;}
  .release .release_slide .swiper-slide .slide_box .bg img{position: absolute;}
  .release .release_slide .swiper-slide .slide_box .detail{position: relative; top: auto; width: calc(100% - 100px); transform: translateY(-50px); right: auto; margin-left: 50px; height: auto;}
  .release .release_slide .swiper-slide .slide_box .detail .desc_wrap{position: relative; bottom: auto; padding-bottom: 10px;}
  .release .release_slide .swiper-slide .slide_box .detail .tit_wrap strong{display: block; margin-bottom: 50px;}
  .release_slide .swiper_nav{display: none;}
  .release_slide .release-swiper-pagination{bottom: 0;top: auto;left: auto !important; margin-left: auto; text-align: center;} 

  /* 이벤트 */
  .event .event_con .con_wrap .grid .grid-item{padding:0 10px; margin-bottom: 10px;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap{padding: 10px;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap strong{padding: 10px 0; font-size: 18px;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap p{line-height: 20px;}

  /* footer */
  .footer .footer_nav_wrap{height: 100px;}
  .footer .footer_nav .sns_nav{right: auto; left: 50%; transform: translateX(-50%); bottom: 20px; top: auto;}
  .footer .footer_ect{position: relative;}
  .footer .footer_nav .left_nav{position: relative;left: 50%;transform: translateX(-50%); font-size: 12px;}
  .footer .footer_ect .footer_logo{float: none; margin-bottom: 20px;}
  .footer .footer_info{top: 50px; left: 0; float: left; width: 70%; margin-left: 0; padding-right: 20px;}
  .footer .footer_info span{margin-bottom: 5px;}
  .footer .footer_info p{width: 100%; margin-top: 10px;}
  .footer .footer_cs {margin-left: 0; width: 30%; float: right; position: absolute; top: 0; right: 0;}
 
}


@media screen and (max-width: 768px) {

  /* 헤더 */
  .header{height: 60px;}
  .header .gnb .right_gnb{display: none;}
  .header .menu_btn{top: 55%;right: 25px;}
  .header .header_wrap h1{left: 15px;}
  .header .hidden_gnb .list_wrap{width: 100%;}
  .header .hidden_gnb .hidden_list > li > a{font-size: 28px;}
  .header .hidden_gnb .hidden_bg{display: none;}
  .header .hidden_gnb .hidden_right li{margin: 0 5px; font-size: 12px;}
  

  /* 메인 */
  .main_visual .main_banner .swiper-slide .inner{padding: 0 20px;}
  .main_visual .main_banner .swiper-slide .inner strong{font-size: 45px;}
  .main_visual .main_banner .swiper-slide .inner p{font-size: 18px; line-height: 25px;}
  .mv_wrapper .main-swiper-pagination{padding: 0 20px; top: calc(50% + 200px);}
  .main_visual .main_search{padding: 150px 20px;}
  .main_visual .main_search h2{font-size: 28px;}
  .main_visual .main_search input{width: 200px; margin: 20px 0; height: 45px;}
  .main_visual .main_search em{font-size: 12px;}
  .main_visual .main_search span{font-size: 16px;}
  .main_visual .mv_wrapper{background-attachment:initial;}
  .main_visual .mv_wrapper.bg1{background-image: url(../img/main/main1_small.jpg);}
  .main_visual .mv_wrapper.bg2{background-image: url(../img/main/main2_small.jpg);}
  .main_visual .mv_wrapper.bg3{background-image: url(../img/main/main3_small.jpg);}
  .main_visual .mv_wrapper.bg4{background-image: url(../img/main/main4_small.jpg);}


  /* 베스트 */
  .best{padding: 30px 0;}
  .best .best_wrapper{padding: 0 20px;}
  .best .tab{width: 280px;}
  .best .contents .item_box .item .img_wrap{width: 110px;}
  .best .contents .item_box .item .txt_wrap{bottom: 15px;}
  .best .contents .item_box .item .txt_wrap strong{font-size: 14px;}
  .best .contents .item_box.middle .txt_wrap strong{font-size: 24px; line-height: 30px;}
  .best .contents .item_box .item .txt_wrap span{margin: 5px 0; font-size: 12px;}
  .best .contents .item_box .item .txt_wrap p{font-size: 12px;}
  .best .contents .swiper-slide .item_box.middle .txt_wrap{padding: 20px;}
  .best .contents .item_box.middle .txt_wrap a{right: auto; bottom: 15px;}


  /* 뉴스 */
  .new{padding: 30px 0;}
  .new .new_wrapper{padding: 0 20px;}
  .new h2{padding-bottom: 30px;}
  .new .new_boxes .new_box .new_desc strong{font-size: 14px; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; line-height:16px; overflow:hidden; text-overflow:ellipsis; margin: 5px 0;}
  .new .new_boxes .new_box .new_desc p{font-size: 12px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 15px;}
  .new .new_boxes .new_box .new_desc a{margin-top: 10px; float: left;font-size: 12px;}


  /* 어바웃 */
  .about{padding: 30px 0;}
  .about .img_wrap{display: none;}
  .about .hidden_bg{display: block;}
  .about .txt_wrap strong{font-size: 28px;}


  /* release */
  .release{padding: 30px 0;}
  .release .release_slide .swiper-slide .slide_box .detail{padding: 20px;}
  .release .release_slide .swiper-slide .slide_box .detail .tit_wrap strong{font-size: 20px;}


  /* md */
  .md .md_wrapper{padding: 0 20px 100px;}
  .md h2{font-size: 36px;}
  .md .md_wrapper> .text_wrap{font-size: 14px; line-height: 20px; padding: 20px 0;}
  .md .business_wrap > .btn_wrap{bottom: -100px; left: 50%;transform: translateX(-50%);}
  .md .business_wrap >div.slide03{left:calc(40vw + 30px); bottom: -30px;}
  .md .business_wrap .txt_wrap{padding: 10px;}
  .md .business_wrap .txt_wrap strong{font-size: 18px;}
  .md .business_wrap .txt_wrap p{font-size: 14px;}
  .md .business_wrap > .btn_wrap .btn{width: 40px;height: 40px; line-height: 45px;}
  .md .business_wrap >div{position: relative;}
  .md .business_wrap >div.slide01{background: red; padding-bottom: 50%; height: auto; width: 100%; position: relative; top: auto; left: auto;}
  .md .business_wrap >div.slide02{width: 100%; left: auto; padding-bottom: 50%; height: auto; top: auto; }
  .md .business_wrap >div.slide03{left:auto; bottom: auto; width:100%; top: auto;}


  /* 이벤트 */
  .event{padding: 30px 0;}
  .event .event_wrapper{padding: 0 10px;}
  .event .event_tit h2{font-size: 28px;}
  .event .event_con .con_wrap .grid .grid-item{width:50%; padding: 10px; margin-bottom: 0;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap{padding: 10px 0 0 0 ;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap strong{font-size: 14px;padding: 5px 0;line-height: 16px;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap p{display:-webkit-box; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; font-size: 12px; line-height: 14px;}
  .event .event_con .con_wrap .grid .grid-item .desc_wrap span{font-size: 12px;}


  /* footer */
  .footer{text-align: left;}
  .footer .footer_nav_wrap{padding: 0 20px;}
  .footer .footer_nav .sns_nav{position: static;transform: translateX(0);float: left; padding-bottom: 10px;}
  .footer .footer_nav .sns_nav li a{margin: 0 10px 0 0;}
  .footer .footer_nav .left_nav{line-height: 15px; float: none; _text-align: center; padding: 10px 0;}
  .footer .footer_nav .left_nav li{display: block;width: 100%;}
  .footer .footer_nav .left_nav li::after{display: none; }
  .footer .footer_ect{padding: 0 20px; margin: 30px auto; _text-align: center;}
  .footer .footer_info{width: 100%; margin-left: 0; padding-right: 0;}
  .footer .footer_info span{display: block;margin-bottom: 5px;}
  .footer .footer_info br{display: none;}
  .footer .footer_cs{position: relative; width: 100%; margin-top: 40px;}
  .footer .footer_cs strong{padding-top: 5px;}
  .footer .footer_cs span{padding: 5px 0 10px; font-size: 12px;}
  .footer .footer_cs .cs_list{ display: inline-block; font-size: 12px;}
  
}



@media screen and (max-width: 540px) {
  /* 뉴스 */
  .new .new_boxes .new_box{width: 100%;margin-bottom: 20px;}
  .new .new_boxes .new_box:nth-child(2){margin: 0; margin-bottom: 20px;}
}