/*
  가장중요한 조건
  가로스크롤은 절대 생기면 안된다.
  가로스크롤이 생기는이유는
  - 위드가 살이있는영역 ex)1200 1000px
  - absolute ->부모한테 무조건 overflow hidden을 줘야됨
  모바일 확인은 최고 작은 사이즈인 320 (크롬모바일 아이폰se) 확인시 잘나오묜 끝.
 */

/* 실콘텐츠 + 100 */
/* 1300 */

@media screen and (max-width: 1500px) {
 /* header */
 /* main */
 .section_2 .section2_wrapper{width: 100%;padding: 0 50px;}
 .new .new_wrapper{width: 100%;padding: 0 50px;}
 .trend .trend_wrapper{width: 100%;padding: 0 30px;}
 /* footer */
 .footer .footer_nav_wrap{width: 100%;padding: 0 50px;}
 .footer .footer_nav .sns_nav{right: 50px;}
 .footer .footer_ect{width: 100%;padding: 0 50px;}
 .footer .footer_info{width: calc(100% - 520px);}
}
@media screen and (max-width: 1380px) {
 .main_visual .main_banner .swiper-slide .inner{width: 100%; left: 0;transform: translate(0, -50%); padding: 0 50px;}
 .mv_wrapper .main-swiper-pagination{width: 100%; left: 0; transform: translate(0, -50%); padding: 0 50px;}
 .main_visual .main_search{width: 100%; padding: 150px 50px;}
 .section_6 .section6_wrapper{width: 100%; padding: 0 50px;}
 .section_6 .business_wrap{height: auto;}
 .section_6 .business_wrap .inner{width: 100%; height: 100%; position: absolute;top: 0;left: 0;}
 .section_6 .business_wrap >div.slide01{background: red; padding-bottom: 50%; height: auto;width: 40vw; position: relative;}
 
 .section_6 .business_wrap >div.slide02{width: 35vw; left: calc(40vw + 30px);padding-bottom: 50%; height: auto;}
 .section_6 .business_wrap >div.slide03{width: 35vw; left: calc(75vw + 60px);padding-bottom: 50%; height: auto;}
 .section_6 .section6_wrapper> .text_wrap{text-align: left; width: auto;}
 .section_6 .business_wrap > .btn_wrap{bottom: 0; left: calc(40vw + 30px);}
}

@media screen and (max-width: 1280px) {
  .header .gnb .right_gnb li:nth-child(-n+3){display: none;}
  .header .hidden_gnb .hidden_right{display: inline-block;}




 .section_5 .sec5 .swiper-slide .slide_box .detail{padding: 50px;}
 .sec5 .swiper_nav{left: auto; right: 50px;transform: translate(0 , -50%); width: calc(50% - 100px);}
}
/*
테블릿
중대적인 레이아웃 변화
폰트사이즈 줄여준다 아래와같은룰로
*/
@media screen and (max-width: 1024px) {
 /* header */
  .header .gnb .gnb_list{display: none;}

  /* main */
 .main_visual .main_banner .swiper-slide .inner strong{margin-bottom: 50px; font-size: 70px;}
 .main_visual .main_search input{width: 600px;}
 
 /* section */
 
 .section_2 .contents .swiper-slide .item_box{margin: 0; width: 100%;float: none; margin-bottom: 10px; height: calc((100% - 20px)/3);}
.section_2 .contents .swiper-slide .item_box::after{content: ''; clear: both; display: block;}
.section_2 .contents .swiper-slide .item_box .item{height: 100%; float: left; width: calc(50% - 5px);}
.section_2 .contents .swiper-slide .item_box.middle{width: 100%; }
.section_2 .contents .swiper-slide .item_box.middle .item{float: none;width: 100%; padding: 0;}
.section_2 .contents .swiper-slide .item_box.middle .item img{}
.section_2 .contents .swiper-slide .item_box .item:last-child{float: right;}
.section_2 .contents .swiper-slide .item_box.right_gnb{margin-bottom: 0;}
.section_2 .contents .item_box .item .img_wrap{width: 150px;}
.section_2 .contents .item_box.middle .txt_wrap a{position: absolute;
  bottom: 30px;
  right: 50px;}

/* new */
.new .new_boxes .new_box {

 width: calc((100% - 20px)/3);}
 .new .new_boxes .new_box:nth-child(2){margin: 0 10px;}
 .new .new_boxes .new_box .new_desc p{display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
  .new .new_boxes .new_box .new_desc a{margin-top: 20px;}


 .section_5{padding: 0 0 50px 0;}
 .section_5 .sec5 .swiper-slide .slide_box .bg{width: 100%; height: auto; padding-bottom: 50%; position: relative;}
 .section_5 .sec5 .swiper-slide .slide_box .bg img{position: absolute;}
 .section_5 .sec5 .swiper-slide .slide_box .detail{position: relative; top: auto; width: calc(100% - 100px); transform: translateY(-50px); right: auto; margin-left: 50px; height: auto;}
 .section_5 .sec5 .swiper-slide .slide_box .detail .desc_wrap{position: relative; bottom: auto; padding-bottom: 10px;}
 .section_5 .sec5 .swiper-slide .slide_box .detail .tit_wrap strong{display: block; margin-bottom: 50px;}
 .sec5 .swiper_nav{display: none;}
 .sec5 .sec5-swiper-pagination{bottom: 0;top: auto;left: auto !important; margin-left: auto; text-align: center;} 

/* 트렌드 */
.trend .trend_con .con_wrap .grid .grid-item{padding:0 10px; margin-bottom: 10px;}
.trend .trend_con .con_wrap .grid .grid-item .desc_wrap{padding: 10px;}
.trend .trend_con .con_wrap .grid .grid-item .desc_wrap strong{padding: 10px 0; font-size: 18px;}
 .trend .trend_con .con_wrap .grid .grid-item .desc_wrap p{line-height: 20px;}




 /* footer */
 .footer .footer_nav_wrap{height: 100px;}
 .footer .footer_nav .sns_nav{right: auto; left: 50%; transform: translateX(-50%); bottom: 20px; top: auto;}
 .footer .footer_ect{position: relative;}
 
 .footer .footer_nav .left_nav{position: relative;left: 50%;transform: translateX(-50%); font-size: 12px;}
 .footer .footer_ect .footer_logo{float: none; margin-bottom: 20px;}
 .footer .footer_info{    top: 50px;
  left: 0; float: left; width: 70%; margin-left: 0; padding-right: 20px;}
  .footer .footer_info span{margin-bottom: 5px;}
  .footer .footer_info p{width: 100%; margin-top: 10px;}
 .footer .footer_cs {margin-left: 0; width: 30%; float: right; position: absolute; top: 0; right: 0;}
 
}

/*
모바일
*대대적 레이아웃 변화
사이드 패딩 15~20
대폰트 font-size: 38~28
중폰트 18~28
소폰트 12~ 16
웬만한 레이아웃은 1줄 아니면 2줄
*/
@media screen and (max-width: 768px) {

  /* header */
  .header .header_wrap h1{left: 15px;}
  .header .hidden_gnb .list_wrap{width: 100%;}
  .header .hidden_gnb .hidden_list > li > a{font-size: 28px;}
  .header .hidden_gnb .hidden_bg{display: none;}
  .header .hidden_gnb .hidden_right li{margin: 0 5px; font-size: 12px;}
  
  /* main banner */
  .main_visual .main_banner .swiper-slide .inner{padding: 0 20px;}
  .main_visual .main_banner .swiper-slide .inner strong{font-size: 45px;}
  .main_visual .main_banner .swiper-slide .inner p{font-size: 18px; line-height: 25px;}
  .mv_wrapper .main-swiper-pagination{padding: 0 20px; top: calc(50% + 200px);}
  .main_visual .main_search{padding: 150px 20px;}
  .main_visual .main_search h2{font-size: 28px;}
  .main_visual .main_search input{width: 200px; margin: 20px 0; height: 45px;}
  .main_visual .main_search em{font-size: 12px;}
  .main_visual .main_search span{font-size: 16px;}
  .main_visual .mv_wrapper.bg1{background-image: url(../img/main/main01_small.jpg);}
  .main_visual .mv_wrapper.bg2{background-image: url(../img/main/main04_small.jpg);}
  .main_visual .mv_wrapper.bg3{background-image: url(../img/main/main10_small.jpg);}
  .main_visual .mv_wrapper.bg4{background-image: url(../img/main/main08_small.jpg);}



  /* section2 */
  .section_2 .section2_wrapper{padding: 0 20px;}
  .section_2 .tab{width: 280px;}
  .section_2 .contents .item_box .item .img_wrap{width: 110px;}
  .section_2 .contents .item_box .item .txt_wrap{bottom: 15px;}
  .section_2 .contents .item_box .item .txt_wrap strong{font-size: 14px;}
  .section_2 .contents .item_box.middle .txt_wrap strong{font-size: 24px; line-height: 30px;}
  .section_2 .contents .item_box .item .txt_wrap span{margin: 5px 0; font-size: 12px;}
  .section_2 .contents .item_box .item .txt_wrap p{font-size: 12px;}
  .section_2 .contents .swiper-slide .item_box.middle .txt_wrap{padding: 20px;}
  .section_2 .contents .item_box.middle .txt_wrap a{right: auto; bottom: 15px;}

  /* new section */
  .new .new_wrapper{padding: 0 20px;}
  .new h2{padding-bottom: 30px;}
  /* .new .new_boxes .new_box{width: 100%; margin-bottom: 20px;}
  .new .new_boxes .new_box:nth-child(2){margin: 0 0 20px 0;} */
  .new .new_boxes .new_box .new_desc strong{font-size: 14px;    display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; line-height:16px; overflow:hidden; text-overflow:ellipsis; margin: 5px 0;}
  .new .new_boxes .new_box .new_desc p{font-size: 12px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 15px;}
  .new .new_boxes .new_box .new_desc a{margin-top: 10px; float: left;font-size: 12px;}



  /* section 4 */
  .section_4 .img_wrap{display: none;}
  .section_4 .hidden_bg{display: block;}
  .section_4 .txt_wrap strong{font-size: 28px;}




  /* section 5 */
  .section_5 .sec5 .swiper-slide .slide_box .detail{padding: 20px;}
  .section_5 .sec5 .swiper-slide .slide_box .detail .tit_wrap strong{font-size: 20px;}


  /* section 6 */
  .section_6 .section6_wrapper{padding: 0 20px 100px;}
  /* .section_6 .business_wrap >div.slide03{left: calc(40vw + 30px);} */
  .section_6 h2{font-size: 36px;}
  .section_6 .section6_wrapper> .text_wrap{font-size: 14px; line-height: 20px;}
  .section_6 .business_wrap > .btn_wrap{bottom: -100px; left: 50%;transform: translateX(-50%);}
  .section_6 .business_wrap >div.slide03{left:calc(40vw + 30px); bottom: -30px;}
  .section_6 .business_wrap .txt_wrap{padding: 10px;}
  .section_6 .business_wrap .txt_wrap strong{font-size: 18px;}
  .section_6 .business_wrap .txt_wrap p{font-size: 14px;}
  .section_6 .business_wrap > .btn_wrap .btn{width: 40px;height: 40px; line-height: 45px;}
  .section_6 .business_wrap >div.slide01{background: red;
    padding-bottom: 50%;
    height: auto;
    width: 33.33%;
    position: relative;}
    .section_6 .business_wrap >div.slide02{width: 33.33%;
      left: calc(33.33%);
      padding-bottom: 50%;
      height: auto;
      /* float: left; */
      top: 0;}
      .section_6 .business_wrap >div.slide03{    left: calc(66.66%);
        bottom: auto;
        /* top: 30px; */
        width: 33.33%;}




  .trend .trend_wrapper{padding: 0 10px;}
  .trend .trend_tit h2{font-size: 28px;}
  .trend .trend_con .con_wrap .grid .grid-item{width:50%; padding: 10px; margin-bottom: 0;}
  .trend .trend_con .con_wrap .grid .grid-item .desc_wrap{padding: 10px 0 0 0 ;}
  .trend .trend_con .con_wrap .grid .grid-item .desc_wrap strong{    font-size: 14px;padding: 5px 0;line-height: 16px;}
  .trend .trend_con .con_wrap .grid .grid-item .desc_wrap p{display:-webkit-box; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; font-size: 12px; line-height: 14px;}
  .trend .trend_con .con_wrap .grid .grid-item .desc_wrap span{font-size: 12px;}


  /* footer */
  .footer{text-align: left;}
  .footer .footer_nav_wrap{padding: 0 20px;}
  .footer .footer_nav .sns_nav{position: static;transform: translateX(0);float: left; padding-bottom: 10px;}
  .footer .footer_nav .sns_nav li a{margin: 0 10px 0 0;}
  .footer .footer_nav .left_nav{line-height: 15px; float: none; _text-align: center; padding: 10px 0;}
  .footer .footer_nav .left_nav li{display: block;width: 100%;}
  .footer .footer_nav .left_nav li::after{display: none; }


  .footer .footer_ect{padding: 0 20px; margin: 30px auto; _text-align: center;}
  /* .footer .footer_info{width:100%} */
  .footer .footer_info{width: 100%; margin-left: 0; padding-right: 0;}
  .footer .footer_info span{display: block;margin-bottom: 5px;}
  .footer .footer_info br{display: none;}

  .footer .footer_cs{position: relative; width: 100%; margin-top: 40px;}
  .footer .footer_cs strong{padding-top: 5px;}
  .footer .footer_cs span{padding: 5px 0 10px; font-size: 12px;}
  .footer .footer_cs .cs_list{ display: inline-block; font-size: 12px;}
  
}



@media screen and (max-width: 540px) {


}